@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

div {
  
  font-family: 'Lato', sans-serif;
  font-size: 48px;


}


ion-row {

  height: 200px;


}


.displayplayer
{

  height: 150px;


}

ion-col { 

  display: flex;
  align-items: center;
  justify-content: center;
} 


:root {
  /* Set the background of the entire app */
 
  --ion-background-color: linear-gradient(90deg, #d1d1d1 50%, #f2f8f8 50%);
  --ion-color-icon: #f35e5e;

}





.ion-color-icon {
  --ion-color-base: var(--ion-color-icon);
}


